@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.ConnectionPage {
  color: white;
  background: #1F4B7D;
}

.connectionPage {
  padding-bottom: 160px;
  padding-top: 80px;
}

.title {
  letter-spacing: .4rem;
  font-family: 'Amatic SC', cursive;
  text-shadow: 2px 2px 5px #0c1e32,
    -2px -2px 5px #3278c8;
  text-align: center;
  padding-bottom: 80px;
}

.graphic-presentation {
  padding-bottom: 80px;
}

.logo {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding-top: 65px;
  margin-bottom: 60px;
}

.stickman-left {
  margin-top: 65px;
  float: right;
  max-width: 90%;
  height: auto;
  margin-bottom: 60px;

}

.stickman-right {
  margin-top: 65px;
  float: left;
  max-width: 90%;
  height: auto;
  margin-bottom: 60px;

}

.login-btn {
  color: #d0843d;
  border: none;
  padding: 0.5rem 1rem;
  justify-content: center;
  border-radius: 500px;
  transition: 25ms;
  cursor: pointer;
  outline: none;
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 250px;
  background: #1F4B7D;
  box-shadow: 5px 5px 10px #0c1e32,
    -5px -5px 10px #3278c8;
}

.login-btn:hover {
  opacity: 0.7;
  box-shadow: inset 5px 5px 10px #0c1e32,
    inset -5px -5px 10px #3278c8;
}

.login-icons {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}